# Assignment 1

 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
 * 
'hello'
-87.8
- 
/ 
+	
6

* - / and + are expressions where as "hello" -87.8 and 6 are values

2. What is the difference between string and variable?

String is defined as a data type which is a sequence of chartacter enclosed in single/double inverted commas considered as text
where as variable can be defined as a storage to store/assign different data types such as integer,strings,floating points number,complex numbers and boolens

3. Describe three different data types.

three data types-
1 Integer-it is a representation of real numbers
2 string-its a sequence of characters
3-floating point-its a represention of decimal numbers

4. What is an expression made up of? What do all expressions do?

Expression is made up with combination of different different operatorsand there is role is to provide some sort of values/results

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Here spam is a variable = is a operator/expression and 10 is a integer number

The difference between expression & statement is that expression is a mathematical operator where as statement is a combination of data types variables and expressions

6. After running the following code, what does the variable bacon contain?
   bacon = 22
   bacon + 1

In [1]:
bacon = 22
bacon + 1

23

In [2]:
bacon # bacon will conatin 22 since its a variable where 22 is assigned to it

22

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [3]:
'spam'+'spamspam' # we can perform addition two strings

'spamspamspam'

In [4]:
'spam'*3 # here "spam" string is multiplyed by 3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

In [5]:
100="shubham" # 100 cannot be variable name because its an integer and variable name cannot be a number

SyntaxError: cannot assign to literal (Temp/ipykernel_11348/3901475374.py, line 1)

In [7]:
egg="shubham" # egg is valid variable name since its a string literal

In [8]:
egg

'shubham'

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

three function are as follows:
1-int()
2-str()
3-float()
examples-

In [10]:
a="shubham"
b=7
c=7.7

In [14]:
str(b)

'7'

In [15]:
int(c)

7

In [17]:
float(b)

7.0

10. Why does this expression cause an error? How can you fix it?
   'I have eaten ' + 99 + ' burritos.'

In [19]:
'I have eaten ' + 99 + ' burritos.' # its showing error because we cannot add string with integer data type

TypeError: can only concatenate str (not "int") to str

correct code will be

In [20]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'